<form align=center method="POST" action="/contact">
<p align=center>If you would like to contact me, please let me know your name, email address, and write me a brief message!</p>
<label for="name">Name</label>
<input type="text" name="name">
<label for="email">Email</label>
<input type="email" name="mail">
<br><br>
<textarea name="body" rows=2 cols=30>Type your message here!</textarea>
<input type="submit">
</form><br><br>
<a align = center class='btn' href="insta">Want to check out my Instagram?</a><br><br>
<a align = center class='btn' href="home">Want to go back to the main page?</a>



