<html>
<p align=center>Welcome to Anthony's Page!</p>
<center><img align=center src="https://scontent-lga3-1.xx.fbcdn.net/hphotos-xpf1/v/l/t1.0-9/11041738_10102944969848620_7928846188676176364_n.jpg?oh=d1c4d95a5d696ab63e982f3599ca183d&oe=56946A04">
<br><br>

<a align = center class='btn' href="insta">Want to check out my Instagram?</a><br>//<br>
<a align = center class='btn' href="contact">Want to contact me?</a>
</center>
</html>