<html><p align=center>Look at all these photos!</p><center><a align = center class='btn' href="contact">Want to contact me?</a><br><br><a align = center class='btn' href="home">Want to go back to the main page?</a><center><iframe width=700px height=800px src="http://www.instagram.com/anth922"></iframe></center></html>

